body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
    margin-top: 100px;
}

.container {
    background: #222;
    padding: 30px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}
